

<h1>Lines</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Item</th>
      <th>Price</th>
      <th>Instructions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.order_id %></td>
        <td><%= line.item_id %></td>
        <td><%= line.price %></td>
        <td><%= line.instructions %></td>
        <td><%= link_to 'Show', line %></td>
        <td><%= link_to 'Edit', edit_line_path(line) %></td>
        <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line', new_line_path %>
