

<p>
  <strong>Order:</strong>
  <%= @line.order_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @line.item_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @line.price %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @line.instructions %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
