<h1>Homepage#index</h1>

<ul>
  <li><%= link_to "Admin interface", admin_index_path %></li>
  <li><%= link_to "Manager interface", manager_index_path %></li>
  <li><%= link_to "Table interface", tables_path %></li>
</ul>