<h1>Admin interface</h1>

<ul>
  <li><%= link_to "User", users_path %></li>
  <li><%= link_to "Role", roles_path %></li>
  <li><%= link_to "Venue", venues_path %></li>
  <li><%= link_to "Table", tables_path %></li>
  <li><%= link_to "Items", items_path %></li>
  <li><%= link_to "Order", orders_path %></li>
  <li><%= link_to "Line", lines_path %></li>
</ul>

<%= link_to "Homepage", homepage_index_path %>
