

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Table</th>
      <th>Paid</th>
      <th>Produced</th>
      <th>Delivered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.table_id %></td>
        <td><%= order.paid %></td>
        <td><%= order.produce %></td>
        <td><%= order.delivered %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
