

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Table:</strong>
  <%= @order.table_id %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Produced:</strong>
  <%= @order.produced %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @order.delivered %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
