Needs to be produced:


<% @orders.each do |order| %>
  <p>Order:</p>
  <% order.lines.each do |line| %>
    <%= line.item.name %><br>
  <% end %>
  <p>
    <%= link_to "Produce", produce_order_path(order), method: :post %>
  </p>
<% end %>


