

<h1>Tables</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Venue</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.description %></td>
        <td><%= link_to table.venue.name, venue_path(table.venue) %></td>
        <td><%= link_to 'Show', table %></td>
        <td><%= link_to 'QRcode', qrcode_table_path(table) %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_table_path %>
