<p>
  <strong>Venue:</strong>
  <%= @table.venue.name %>
</p>

<p>
  <strong>Table:</strong>
  <%= @table.description %>
</p>

<p><strong>Items:</strong></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @table.venue.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Select', select_item_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
