<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Table:</strong>
  <%= @order.table_id %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Produced::</strong>
  <%= @order.produced %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @order.delivered %>
</p>

<p>
  <strong>Items:</strong>
  <%= @order.lines.count %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>




<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<% if @order %>
  <p>Current order:</p>
  <%= link_to 'Pay', new_order_payment_path(@order) %>
  <%= link_to 'Clear order', order_path(@order), method: :delete %>
  <p>
  <% @order.lines.each do |line| %>
    <%= line.item.name %><br>
  <% end %>
  <script>
    var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as parameter here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '<%= @session.id %>'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
    </script>

<% end %>