<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :venue_id %>
    <%= form.text_field :venue_id %>
  </div>

  <div class="field">
    <%= form.label :manager %>
    <%= form.check_box :manager %>
  </div>

  <div class="field">
    <%= form.label :back %>
    <%= form.check_box :back %>
  </div>

  <div class="field">
    <%= form.label :front %>
    <%= form.check_box :front %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
