

<h1>Roles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Venue</th>
      <th>Manager</th>
      <th>Back</th>
      <th>Front</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.user_id %></td>
        <td><%= role.venue_id %></td>
        <td><%= role.manager %></td>
        <td><%= role.back %></td>
        <td><%= role.front %></td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
