

<p>
  <strong>User:</strong>
  <%= @role.user_id %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @role.venue_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @role.manager %>
</p>

<p>
  <strong>Back:</strong>
  <%= @role.back %>
</p>

<p>
  <strong>Front:</strong>
  <%= @role.front %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
