<p>
  <strong>Venue:</strong>
  <%= @table.venue.name %>
</p>

<p>
  <strong>Table:</strong>
  <%= @table.description %>
</p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Select', select_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path if current_user %>
<br>

<% if @order %>
  <% if @order.paid %>
    <p>Thanks for ordering:</p>
    <%= link_to 'New order', new_order_path %>
  <% else %>
    <p>Current order:</p>
    <%= link_to 'Pay', new_order_payment_path(@order) %>
    <%= link_to 'Clear order', order_path(@order), method: :delete %>
  <% end  %>

  <p>
  <% @order.lines.each do |line| %>
    <%= line.item.name %><br>
  <% end %>
<% end %>