<!DOCTYPE html>
<html>
  <head>
    <title>Bark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/?advancedFraudSignals=false', 'data-turbolinks-track': 'reload' if @load_stripe %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <b>Bark</b> | <%= link_to "Home", homepage_index_path %> | <%= link_to "Admin", admin_index_path %> | <%= link_to "Manager", manager_index_path %> | <%= link_to "Tables", tables_path %>

    <hr noshade>

    <% flash.each do |key, value| %>
      <p id=<%= key %>><font color=orange><%= value %></font></p>
    <% end %>

    <%= yield %>

  </body>
</html>
